export default {
  title: "Jay Fallon - Strategy, Design & Development",
  description:
    "The 2020 version of my portfolio as a progressive web application.",
  openGraph: {
    type: "website",
    locale: "en_IE",
    url: "https://jayfallon.net",
    site_name: "Jay Fallon Portfolio 2020",
  },
  twitter: {
    handle: "@jayfallon",
    site: "@jayfallon",
    cardType: "summary_large_image",
  },
};
